<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body class="storefront">


<h1 class="welcome">Welcome to Sweet Deals</h1>
<button class="btn">
<%= link_to 'Click here to enter', storefront_all_items_path %>
</button>


</body>
</html>